
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,400&family=Nunito&family=Roboto&family=Roboto+Slab:wght@500&family=Ubuntu:wght@300;400;500&family=Work+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
body{
    overflow-x: hidden;
    background:#efefef;
    font-family: 'Roboto', sans-serif !important;
}

img{
    width:100%;
}

*{
    margin: 0;
    padding:px 0;
}

.w-full{
    width:100%;
}

.p-0{
    padding:0;
}

.p-l-0{
    padding-left:0;
}

.p-r-0{
    padding-right:0;
}

body, h1, h2, h3 , h4, h5, h6, p, a{
    color:#555;
}


.landingBanner{
    width:100vw;
    height:100vh;
}
.landingPageCircle{
    background:black;
    width:200vw;
    aspect-ratio:1;
    border-radius:50%;
    position:absolute;
    top: -140vh;
    left: 65vw;
}

.landingPageTitle{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 0;
    font-weight: 100;
    text-shadow: 0 0 5px #7e7777;
    color: #777;
    font-size: 44px;
}
.landingPageTitle sup{
    font-size: 32px;
}

.landingPageTextForm{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.landingPageDesign{
    margin-top: 20px;
    color: rgb(141, 139, 139);
    font-weight: 100;
    font-size: 20px;
    font-family: 'sans-serif';
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;

}
.landingPageLeftUl{
    color: #555;
    font-weight: 100;
    font-size: 30px;
    list-style: none;
    padding: 20px;

}
.landingPageLeftUl li{
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.homePageSatisticsSection{
    background: #efefefdd;
    position: relative;
    z-index: 1;
    padding: 60px;
    border-radius: 60px;
    border:2px solid white;
    box-shadow:0 0 3px 5px #dedede, 0 0 7px 10px #efefefdd, 0 0 12px 18px #fefefe;
    backdrop-filter: blur(11px);
    margin-top:100px;
}

.singleStatwrapper{
    text-align: center;
    color: #555;
    padding:10px;
    margin-bottom:15px;
}

.singleStatwrapper{
    border-right:1px solid #dedede;
    border-left:1px solid #d9d9d9;
}

.singleStatwrapper:nth-of-type(3n + 1){
    border-left:0
}

.singleStatwrapper:nth-of-type(3n){
    border-right:0
}

.singleStatwrapper i{
    font-size:30px;
    color: white;
    text-shadow:1px -2px 0 #dedede;
}

.singleStatwrapper h4{
    font-size:36px;
    font-weight:300;
    color:#747474;
}

.singleStatwrapper p{
    font-size:18px;
    font-weight:600;
    color:#999;
}

.homePageSatisticsSection .beforeafterexample .singleStatwrapper{
    border: none;
    position: relative;
}

.homePageSatisticsSection .beforeafterexample .singleStatwrapper::before{
    content: '';
    width: 3px;
    height: 50%;
    background: linear-gradient(90deg, #f1f1f1, #dfdfdf);
    z-index: 1;
    position: absolute;
    top: 25%;
    right: 0;
    border-radius: 5px;
}

.landingPageSingleServiceWrapper{
    margin-bottom:33px;
    aspect-ratio: 1;
}

.landingPageSingleServiceContainer{
    aspect-ratio:1;
    border: 1px solid #cecece;
    border-radius: 10px;
}

.homePageSatisticsSection .beforeafterexample .singleStatwrapper:nth-of-type(3n)::before{
    display:none;    
}

home-content, services{
    position:fixed;
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    overflow-x:hidden;
    top:0;
    left:100vw;
    transition: 0.3s;
}

body[path_part_0="home"] home-content{
    left:0vw;
}

body[path_part_0="services"] services{
    left:0vw;
}

body[path_part_0="services"] home-content{
    left: -100vw;
}

input{
    width:100%;
    border: 1px solid #efefef !important;
    padding:12px;
    margin-bottom: 12px;
    border-radius: 12px;
    outline: none;
    color: #666666;
}

.button{
    background: #999;
    padding: 9px;
    border-radius: 1000px;
    text-transform: uppercase;
    text-align: center;
    color: #dedede;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}
.landingPageSingleServiceWrapper img{
    width: 100%;
}
.col-sm-3 img{
    width: 100%;
}

.landingPageconsultsection{
    margin-top:125px;
    padding-top:125px;
    border-top:1px solid #cecece;
}

.landingPageconsultsection h1{
    font-size: 45px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:100;
}

.landingPageconsultsection ul{
   list-style-type: none;
    padding-left: 0;
}
.landingPageconsultsection ul li{
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    font-family: 'Noto Sans', sans-serif;
}

.sliderwrapper{
    width:100%;
    max-width:600px;
    overflow:hidden;
    position: relative;
    aspect-ratio: 1;
}

.slidercontainer{
    width:max-content;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.slidercontainer img{
    margin:0;
}

.landingPagelabelsection{
    margin: 10px;
    padding: 100px;
    border-top: 1px solid grey;
}

.landingPagelabelsection h1{
    font-family: 'Roboto', sans-serif; 
    font-size: 40px;
    font-weight: 200;
}

.landingPagelabelsection p{
    font-family:'Noto Sans', sans-serif; 
    font-size: 15px;
    font-weight: 50;
    padding: 10px;
}
.labelcontent .left{
    width:50px;
    float:left;
    position:relative;
    display:inline-block;
}
.labelcontent .right{
    position:relative;
    display:inline-block;
    width:calc(100% - 50px);
    float:right;
}

.labelcontent ul li{
    list-style-type: none;
}

.NavBar ul{
    list-style-type: none;
    display:flex;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 5px;
}
.NavBar ul li{
    padding: 5px;
}